
@{
    ViewBag.Title = "PaymentError";
}

<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h2>Payment Error</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content table-div">
                    <h4>Your Payment was not successful. <a class="text-success" href="@Url.Action("RecentTransaction","Employer")">Please click here to make payment again.</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
