
@{
    ViewBag.Title = "PaymentSuccessful";
}

<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h2>Payment Successful</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content table-div">
                    <h4>You payment to PAL Pensions was successful. <a class="text-success"href="@Url.Action("RecentTransaction","Employer")">Please click here to view latest Schedule</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>

