
@{
    ViewBag.Title = "Report";
}

<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h2>Report</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content table-div">
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <p class="alert alert-danger" style="color: black">@ViewBag.ErrorMessage</p>
                    }
                    @using (Html.BeginForm("Report", "Employer", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
                    {
                        <div class="form-group">
                            <label for="period">Start Period:</label>
                            <input name="startperiod" id="endperiod" class="form-control" type="month" required />
                        </div>

                        <div class="form-group">
                            <label for="period">End Period:</label>
                            <input name="endperiod" id="endperiod" class="form-control" type="month" required />
                        </div>

                        <button type="submit" id="upload" class="btn btn-primary" name="Submit" style="margin-bottom: -20px">Transaction Summary</button>

                    }
                </div>
            </div>
        </div>
    </div>
</div>


@if (ViewBag.TransactionsPeriodTotal != null)
{
    <div class="welcome">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="content table-div">
                        <h3>Transaction History</h3>
                        <dl class="dl-horizontal">

                            <dt>
                                Amount Credited
                            </dt>


                            <dd>
                                &#8358;@ViewBag.TransactionsPeriodTotal
                            </dd>

                            <dt>
                                Transaction Balance
                            </dt>


                            <dd>
                                &#8358;@ViewBag.TransactionsTotal
                            </dd>

                            <dt>
                                Total Month
                            </dt>


                            <dd>
                                @ViewBag.MonthTotal
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

