@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>ViewBag.Title - PAL Pensions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="position: relative; overflow-y:hidden">

    <div class="col-md-12" style="padding: 0">
        <div class="col-md-8 hidden-xs hidden-sm loginImage" style="position: relative;">
            <div class="circle"> </div>
            <div class="circle2"> </div>

            <div class="img-div1" style="display: block">
                @*<img src="~/Content/images/Group27.png" />*@
                <img src="~/Content/images/Group582.png" style="width: 30%" />
                <h4> <b>Welcome to PAL Pensions</b></h4>
                <p style="color: darkslateblue">Your Padi of life</p>
            </div>
            <div class="img-div2">
                <img src="~/Content/images/Group1.png" style="width: 70%" />
                <h4><b>Plan Your Finances</b></h4>
                <p style="color: darkslateblue">We use Simple tools to plan your tommorrow</p>
            </div>

            <div class="img-div3">
                <img src="~/Content/images/Group27.png" style="width: 70%" />
                <h4><b>Save For The Future</b></h4>
                <p style="color: darkslateblue">Save towards goals and learn financial growth along the way until retirement</p>
            </div>
            <div class="img-div4">
                <img src="~/Content/images/Group1.png" style="width: 70%" />
                <h4><b>Save For The Future</b></h4>
                <p style="color: darkslateblue">Save towards goals and learn financial growth along the way until retirement</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 login">
            <div style="background-color: white !important; padding: 35px; padding-top: 25%; height: 100%; ">
                <div class="title">
                    <img src="~/Content/images/PALLogo.png" style="width: 40%" />
                    <br />
                    <h3>@ViewBag.Title.</h3>
                    <p>
                        Please check your email to reset your password.
                    </p>
                </div>

            </div>
        </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>

</html>


