
@{
    ViewBag.Title = "SearchEmployer";
}

<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h2>Search Employer Code</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="welcome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content" style="min-height: 155px">
                    <div class="col-md-7" style="padding: 0">
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="form-group col-md-12">
                                <p class="alert alert-danger">@ViewBag.ErrorMessage</p>
                            </div>

                        }

                        @using (Html.BeginForm("SearchEmployer", "Admin", FormMethod.Get))
                        {
                            <div class="form-group col-md-8">
                                <label for="employerCode"> Employer Code</label>
                                <input type="search" class="form-control " name="employerCode" id="employerCode" placeholder="Enter Employer Code .." />
                            </div>
                            <div class="form-group">
                                <div class=" col-md-10">
                                    <input type="submit" class="btn btn-primary" value="Search" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

